/* 
    Created on : 16 Sep 2014, 1:56:29 PM
    Author     : Dean
*/

.element {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-stroke: rgba(0,0,0,0.3);
    -fx-stroke-type: inside;
    -fx-border-width: 2px;
}


.root {
    -fx-background-color:gray;
}

.powerup{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-fill: blue;
    -fx-stroke: rgba(0,0,0,0.3);
    -fx-stroke-type: inside;
}
